<h1>SPO</h1>
<p class="lead muted">SPO - hier wenn Sie uns brauchen</p>
<h3>Beratung / Termin Buchen</h3>
<!--#<button class="btn btn-primary" onclick="start();">Start</button>-->
<div id="container" class="wizard-container">
    <div id="step0">
        <h2>Sind Sie bereits Mitglied?</h2>
        
        <button class="btn btn-primary" onclick="is_member();">Mitglied</button>
        
        <button class="btn btn-secondary" onclick="is_nonmember();">Nicht-Mitglied</button>
    </div>
    <div id="step1" style="display: none; "><!-- Step 1 member: identify -->
        <h2>Mitgliedschaft erfassen</h2>
        
        <p>Es ist wichtig, dass sich Mitglieder mit Ihrer Kunden-Nr. (CUST-#####) anmelden, da sonst der Termin <b>nicht bestätigt</b> werden kann.<br>
        Falls Sie Ihre Kunden-Nr. nicht kennen, kontaktieren Sie uns: 044 252 54 22</p>
        
        <div class="row">
            <div class="form-column col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="customer_nr" placeholder="Kunden-Nr." class="form-control">
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <input type="text" id="customer_lastname" placeholder="Nachname" class="form-control">
                </div>
            </div>
        </div>
            
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-4">
                <div id="member_buttons">
                    <button class="btn btn-secondary" onclick="start();">Zurück</button>    
                    <button class="btn btn-primary" onclick="select_option_from_member();">Weiter</button>
                </div>
            </div>
        </div>
        
        <p id="member_wait" style="display: none; "><img src="/assets/spo/image/ajax-loader.gif" /> prüfen...</p>
        <p id="member_failed" style="display: none; color: red; ">Die angegebenen Benutzerdaten sind ungültig.</p>
        <p><br>Falls Sie <b>in den letzten 12 Monaten bereits eine Beratung hatten </b>, ist dieser Service für Sie <b>kostenpflichtig</b>.</p>

    </div>
    <div id="step2" style="display: none; "><!-- Step 2: non-member: credentials -->
        <h2>Personalien erfassen</h2>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                <p>Anrede</p>
                    <div class="control-group">
                        <select class="form-control">
                            <option>*Familie</option>
                            <option>*Frau</option>
                            <option>*Herr</option>
                        </select>
                    </div>
                </div> 
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" id="inputFirstname" placeholder="*Vorname" class="input-xlarge" title="Der Vorname ist zwingend!" required/>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        <input type="text" id="inputSurname" placeholder="*Nachname" class="input-xlarge" title="Der Nachname ist zwingend!" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="inputEmail" placeholder="*E-mail" class="input-xlarge" title="Die Email ist zwingend!" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" id="inputPhone" placeholder="*Telefon" class="input-xlarge" title="Die Telefonnummer ist zwingend!" pattern="[0-9]{10}" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" id="inputStreet" placeholder="*Strasse" class="input-xlarge" title="Die Strasse ist zwingend!" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" id="inputZIP" placeholder="*Postleitzahl" class="input-xlarge" title="Die Postleitzahlist zwingend!" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" id="inputCity" placeholder="*Ort" class="input-xlarge" title="Der Ort ist zwingend!" required>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; ">
                <div class="form-column col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                        <input type="date" id="inputBirthdate" placeholder="Geburtstag" class="input-xlarge" >
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-top: 20px; ">
            <button class="btn btn-secondary" onclick="start();">Zurück</button>   
            <button class="btn btn-primary" onclick="select_option_from_nonmember();">Weiter</button>
            </div>
    </div>
    
    <div id="step3" style="display: none; "><!-- step 3: select options -->
        <h2>Optionen wählen</h2>
        
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-4">
                <p>Wie möchten Sie die Beratung durchgeführt haben?</p>
                <div class="control-group">
                    <select id="consultation_mode" class="form-control">
                        <option id="consultation_mode_phone" >Telefongespräch</option>
                        <option id="consultation_mode_online" >Online Meeting</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-4">
                <p>Um welchen Themenbereich handelt es sich?</p>
                <div class="control-group">
                    <select id="topic" class="form-control">
                        <option>Medizin</option>
                        <option>Zahnmedizin</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-12">
                <button class="btn btn-secondary" onclick="start();">Zurück</button> 
                <button class="btn btn-primary" onclick="select_slot();">Finde Termin</button>
            </div>
        </div>
    </div>

    <div id="step6" style="display: none; "><!-- step 6: select slot -->
        <h2>Termin wählen</h2>
    
        <div id="calendar">
        </div>
        
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-12">
                <button class="btn btn-secondary" onclick="back_to_options();">Zurück</button> 
                <p id="calendar_wait" style="display: none; "><img src="/assets/spo/image/ajax-loader.gif" /> buchen...</p>
            </div>
        </div>
    </div>
    <div id="step7" style="display: none; "><!-- step 7: payment -->
        <h2>Zahlung</h2>
        <div class="row" style="margin-top: 20px; ">
            <!--Slot Name-->
            <div class="form-column col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tasks"></i></span>
                    <input type="text" id="slot_title" class="form-control" readonly>
                </div>
            </div>
            <!--Slot Date-->
            <div class="form-column col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="slot_start" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px; ">
            <div class="form-column col-sm-4">
                <p>Bitte beachten Sie, dass der Termin erst bestätigt werden kann, sobald die Zahlung erfolgreich ist.</p>
            </div>
        </div>
        
        <!-- payment iframe goes here -->
        <div id="payrexx" style="margin-top: 20px; ">
        </div>
        
    </div>
    
    <div id="step10" style="display: none; "><!-- step 10: done -->
        <h2>Vielen Dank für Ihre Terminbuchung!</h2>
    
    
    </div>       

</div><!-- end of wizard container -->

<input type="text" id="slot_id" hidden readonly>
<input type="text" id="used_slots" value=99 hidden readonly>

<!-- load additinal resources (calendar) -->
<link href="/assets/spo/js/fullcalendar.min.css" rel="stylesheet">
<script src="/assets/spo/js/fullcalendar.min.js"></script>
<script src="/assets/spo/js/locales-all.min.js"></script>
