
<h1>SPO</h1>
<p class="lead muted">SPO - hier wenn Sie uns brauchen</p>
<h3>Beratung / Termin Buchen</h3>
<!--#<button class="btn btn-primary" onclick="start();">Start</button>-->
<div id="container" class="wizard-container">
    <div id="step0">
        <h2>Sind Sie bereits Mitglied?</h2>
        
        <button class="btn btn-primary" onclick="is_member();">Mitglied</button>
        
        <button class="btn btn-secondary" onclick="is_nonmember();">Nicht-Mitglied</button>
    </div>
    <div id="step1" style="display: none; "><!-- Step 1 member: identify -->
        <h2>Mitgliedschaft erfassen</h2>
        
        <p>Es ist wichtig, dass sich Mitglieder mit Ihrer Customer-Nr. anmelden, da sonst der Termin <b>nicht bestätigt</b> werden kann.<br>
        Falls Sie Ihre Customer-Nr. nicht kennen, kontaktieren Sie uns: 044 252 54 22</p>
        
        <div class="control-group">
            <div class="center">
                <label class="control-label" for="customer_nr">Customer-Nr.</label>
                <div class="controls" style="margin-left: 10px">
                    <input type="text" id="customer_nr" placeholder="Customer-Nr." class="input-xlarge" title="Customer-Nr. ist zwingend!" minlength="10" required />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="center">
                <label class="control-label" for="customer_lastname">Nachname</label>
                <div class="controls" style="margin-left: 10px">
                    <input type="text" id="customer_lastname" placeholder="Nachname" class="input-xlarge" title="Nachname ist zwingend!" required />
                </div>
            </div>
        </div>
        <button class="btn btn-primary" onclick="start_over();">Zurück</button>    
        <button class="btn btn-primary" onclick="select_option_from_member();">Weiter</button>
        
        <p>Ihr Kontingent für kostenfreie Beratung Beträgt aktuell: XY Min<br>
        Falls Sie <b>weniger als 30 Min </b> Kontingent übrig haben, ist dieser Service für Sie <b>kostenpflichtig</b>.</p>

    </div>
    <div id="step2" style="display: none; "><!-- Step 2: non-member: credentials -->
        <h2>Personalien erfassen</h2>
        
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Anrede</label>
            <div class="controls">
                <select>
                    <option>Herr</option>
                    <option>Frau</option>
                    <option>Familie</option>
                </select>
            </div>
        </div>                      
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Vorname</label>
            <div class="controls">
                <input type="text" id="inputFirstname" placeholder="Vorname" class="input-xlarge" title="Der Vorname ist zwingend!" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSurname">Nachname</label>
            <div class="controls">
                <input type="text" id="inputSurname" placeholder="Nachname" class="input-xlarge" title="Der Nachname ist zwingend!" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">E-Mail</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="E-mail" class="input-xlarge" title="Die Email ist zwingend!" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone">Telefon</label>
            <div class="controls">
                <input type="text" id="inputPhone" placeholder="Telefon" class="input-xlarge" title="Die Telefonnummer ist zwingend!" pattern="[0-9]{10}" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStreet">Strasse / Postfach</label>
            <div class="controls">
                <input type="text" id="inputStreet" placeholder="Strasse" class="input-xlarge" title="Die Strasse ist zwingend!" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputZIP">Postleitzahl</label>
            <div class="controls">
                <input type="text" id="inputZIP" placeholder="Postleitzahl" class="input-xlarge" title="Die Postleitzahlist zwingend!" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCity">Ort</label>
            <div class="controls">
                <input type="text" id="inputCity" placeholder="Ort" class="input-xlarge" title="Der Ort ist zwingend!" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBirthdate">Geburtsdatum</label>
            <div class="controls">
                <input type="date" id="inputDate" placeholder="E-mail" class="input-xlarge" >
            </div>
        </div>
        <button class="btn btn-primary" onclick="start_over();">Zurück</button>   
        <button class="btn btn-primary" onclick="select_option_from_nonmember();">Weiter</button>
    </div>
    <div id="step3" style="display: none; "><!-- step 3: select button -->
        <h2>Optionen wählen</h2>
    
        <button class="btn btn-primary" onclick="select_evaluation();">Ersteinschätzung</button>   
        <button class="btn btn-primary" onclick="select_consultation();">Beratung</button>   
    </div>
    <div id="step4" style="display: none; "><!-- step 4: select options -->
        <h2>Optionen wählen</h2>
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Kontaktart</label>
            <div class="controls">
                <select>
                    <option>Telefongespräch</option>
                    <option>Online Meeting</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Themenbereich</label>
            <div class="controls">
                <select>
                    <option>Medizin</option>
                    <option>Zahnmedizin</option>
                </select>
            </div>
        </div>
    
        <button class="btn btn-primary" onclick="select_slot();">Finde Termin</button>
    </div>
    <div id="step5" style="display: none; "><!-- step 5: select options -->
        <h2>Optionen wählen</h2>
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Kontaktart</label>
            <div class="controls">
                <select>
                    <option>Telefongespräch</option>
                    <option>Online Meeting</option>
                    <option>Termin vor Ort</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstname">Themenbereich</label>
            <div class="controls">
                <select>
                    <option>Medizin</option>
                    <option>Zahnmedizin</option>
                </select>
            </div>
        </div>
    
        <button class="btn btn-primary" onclick="select_slot();">Finde Termin</button>
    </div>
    <div id="step6" style="display: none; "><!-- step 6: select slot -->
        <h2>Termin wählen</h2>
    
        <div id="calendar">
        </div>
        
    </div>
    <div id="step7" style="display: none; "><!-- step 7: select payment -->
        <h2>Zahlungsart wählen</h2>
    
        <button class="btn btn-primary" onclick="pay_by_qr();">mit QR-Rechnung zahlen</button>
        
        <button class="btn btn-secondary" onclick="pay_stripe();">mit Kreditkarte zahlen</button>
    
    </div>
    
    <div id="step8" style="display: none; "><!-- step 8: pay by QR-code -->
        <h2>Zahlung per QR-Rechnung</h2>
    
        <button class="btn btn-secondary" onclick="done();">weiter</button>
    </div>
    
    <div id="step9" style="display: none; "><!-- step 9: pay by stripe -->
        <h2>Zahlung mit Kreditkarte</h2>
    
        <button class="btn btn-secondary" onclick="done();">weiter</button>
    </div>
    
    <div id="step10" style="display: none; "><!-- step 10: done -->
        <h2>Vielen Dank für Ihre Terminanfrage!</h2>
    
    
    </div>       

</div><!-- end of wizard container -->

<!-- load additinal resources (calendar) -->
<link href="/assets/spo/js/fullcalendar.min.css" rel="stylesheet">
<script src="/assets/spo/js/fullcalendar.min.js"></script>
<script src="/assets/spo/js/locales-all.min.js"></script>
